<% provide :title do %>
  <%= t("test.header.title") %> - <%= t("test.menu.legislation") %> - <%= @process.title %> - <%= t("test.legislation.draft_versions.index.title") %> - <%= t("test.legislation.draft_versions.new.title") %>
<% end %>

<div class="legislation-draft-versions-new legislation-draft-versions-form">
  <div class="small-12 column">
    <%= back_link_to test_legislation_process_draft_versions_path(@process),
                     t("test.legislation.draft_versions.new.back") %>

    <h2><%= @process.title %></h2>

    <%= render 'test/legislation/processes/subnav', process: @process, active: 'draft_versions' %>

    <div class="small-12 column">
      <h3><%= t("test.legislation.draft_versions.new.title") %></h3>
    </div>

    <%= render 'form', url: test_legislation_process_draft_versions_path(@process) %>
  </div>
</div>
