<% provide :title do %>
  <%= "#{t("test.header.title")} - #{t("test.menu.legislation")}" %> -
  <%= "#{@process.title} - #{t("test.legislation.milestones.index.title")}" %>
<% end %>

<%= back_link_to test_legislation_processes_path, t("test.legislation.processes.edit.back") %>

<h2><%= @process.title %></h2>

<%= render "test/legislation/processes/subnav", process: @process, active: "milestones" %>
<%= render "summary_form", process: @process %>
<%= render "test/milestones/milestones", milestoneable: @process %>
