<% provide :title do %>
  <%= t("test.header.title") %> - <%= t("test.menu.legislation") %> - <%= @process.title %> - <%= t("test.legislation.questions.index.title") %> - <%= t("test.legislation.questions.new.title") %>
<% end %>

<div class="legislation-questions-new legislation-questions-form">

  <%= back_link_to test_legislation_process_questions_path(@process), t("test.legislation.questions.new.back") %>

  <h2><%= @process.title %></h2>

  <%= render 'test/legislation/processes/subnav', process: @process, active: 'questions' %>

  <div class="small-12 column">
    <h3><%= t("test.legislation.questions.new.title") %></h3>
  </div>

  <%= render 'form', url: test_legislation_process_questions_path(@process) %>
</div>
